<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Starter Kit</title>

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <meta name="theme-color" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Page styles -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/assets/styles/main.css">
  </head>
  <body class="search-results">
    <header >
        <nav class="navigation" align="right">
              
          <div class="ghost-btn-group heading-search" style="text-align:center">
              <div class=" location">
                  <span class=""><i class="fa fa-map-marker"></i></span>
                  <input type="text" class=""  placeholder="Calabar, etc"/>
        
              </div>
              <div class="query">
                  <span class=""><i class="fa fa-search"></i></span>
                  <input type="text" class="" placeholder="Electrician, etc"/>
            </div>
         
          <button class=" searchbtn">search</i></button>
 
          </div>

    
        <ul>
            
            <li ><a class="active"><i class="fa fa-home"></i> Home</a></li>
            {{ if eq .User.URL "" }}
            <li><a href="/profile"><img class="img-circle img-ppic" src="{{.User.User.Image}}"/> <span>{{.User.User.Name}}</span></a></li>
            
            <li><a><i class="fa fa-unlock" ></i> logout</a></li>
    {{ else }}
        <li>
            <a class="" href="{{.User.URL}}">
                <i class="fa fa-facebook"></i>&nbsp;Login with facebook
            </a>
        </li>
    {{ end }}
          </ul>
          <div style="clear:both"></div>
        </nav>
        <div style="clear:both"></div>
    </header>

    
    <main class="profile container">
    <h2 class="title">Settings</h2>
      <div class="before-side col-md-9">
          <div class="left-side col-md-4">
              <div>
                  <img src="{{.User.Image}}" class="img-circle
                    " style="max-width:90%;">
                  <h4>{{.User.Name}}</h4>
                  <small><i class="fa fa-at"></i>&nbsp; tonyalaribe</small><br/>
                  <small><i class="fa fa-map-marker"></i>&nbsp; Calabar</small>
                  <div style="clear:both;"></div>
                  <br/>
                  
                  <a class="btn btn-default">
                      <i class="fa
              fa-cogs"></i>&nbsp;Settings
                  </a>
                  <a class="btn btn-default">
                      <i class="fa fa-user"></i>&nbsp;Invite
                  </a>
        
              </div>
              <br/><br/>
              <div class="profile-menus">
                  <a >
                      <i class="fa fa-list-alt"></i>&nbsp;&nbsp;Feeds
                        <i class="fa fa-chevron-right pull-right"></i>
                        <div style="clear:both;"></div>
                  </a>
                    <a >
                      <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Skills
                        <i class="fa fa-chevron-right pull-right"></i>
                        <div style="clear:both;"></div>
                  </a>

                <a >
                      <i class="fa fa-pencil"></i>&nbsp;&nbsp;Reviews (0)
                        <i class="fa fa-chevron-right pull-right"></i>
                        <div style="clear:both;"></div>
                  </a>
                <a >
                      <i class="fa fa-camera-retro"></i>&nbsp;&nbsp;Photos (0)
                        <i class="fa fa-chevron-right pull-right"></i>
                        <div style="clear:both;"></div>
                  </a>
                <a onclick="bookmark()" >
                      <i class="fa fa-bookmark"></i>&nbsp;&nbsp;Bookmarks (0)
                        <i class="fa fa-chevron-right pull-right"></i>
                        <div style="clear:both;"></div>
                  </a>
                  <a >
                      <i class="fa fa-map-marker"></i>&nbsp;&nbsp;Worked with (0)
                        <i class="fa fa-chevron-right pull-right"></i>
                        <div style="clear:both;"></div>
                  </a>


              </div>
              <div style="clear:both;"></div>
          </div>

          <div class="col-md-8" >
             <div id="page"></div>
          <br/><br/><br/><br/><br/>
          </div>
          <div class="col-md-3">

          </div>

      </div>
      <div style="clear:both"></div>
    </main>

<div style="clear:both"></div>
    
    <footer class="foot " >
    <div style="clear:both"></div>
      <div class="">
        <div>
          <a class="btn btn-lg facebook"> <i class="fa fa-2x fa-facebook"></i></a>
          <a class="btn btn-lg twitter"> <i class="fa fa-2x fa-twitter"></i></a>
          <a class="btn btn-lg google-plus"> <i class="fa fa-2x fa-google-plus"></i></a>
          
        </div><br/>
        <div>Copyright Oddjobs.com</div>
      </div>
    </footer>
   
    <script type="text/template" id="profile-page">
              <div class="username-box">
                  <h3>Set Your Username</h3>
                  <small style="font-weight:300">e.g oddjobs.com/<strong>username</strong>. You can set
                      your username only once.</small><br/><br/>

                  <div>
                      oddjobs.com/<input type="text" class="form-control"
                                                     style="display:inline-block;
                                                     width:50%;">
                  </div>
                  <br/>
                  <button class="btn btn-lg btn-default" style="">Save</button>
              </div>

              <h3>Profile Data</h3>
              <br/>
              <form class="profile-form" id="profile-form">
                <div class="form-group">
                    <label for="nameInput">YOUR FULL NAME*</label>
                    <input type="text" class="form-control" id="nameInput"
                    value="<%= Name %>" name="Name">
                </div>
                <div class="form-group">
                    <label for="cityInput">YOUR CITY*</label>
                    <input type="text" class="form-control" id="cityInput"
                    value="<%= Location %>" name="Location">
                </div>

                <div class="form-group">
                    <label for="personalInfoInput">A LITTLE ABOUT
                        YOURSELF</label>
                    <textarea  class="form-control" id="personalInfoInput"
                    name="About"><%= About %> </textarea>
                
                </div>
                <div class="form-group">
                    <label for="phoneNumberInput">YOUR MOBILE NUMBER</label>
                    <input type="tel" class="form-control"
                                       id="phoneNumberInput" value="<%= Phone %>" name="Phone">
                </div>
                <div class="form-group">
                    <label for="emailInput">YOUR EMAIL</label>
                    <input type="text" class="form-control" id="emailInput"
                                                            value="<%= Email %>"
                                                            name="Email">
                </div>
                <br/>
                <a id="submit" class="btn btn-lg btn-default"  >Save</a>
              </form>
    </script>

    <script type="text-template" id="add-skill">
          <form   style="border-bottom:1px solid #f0f0f0;
                  padding-bottom:10px; " >
                  <input type="text" value="<%= SkillName %>" name="SkillName"
                                     class="form-control"
                                     style="display:inline-block;
                                     width:48%";>
                  &gt;
                <input type="text"
                                                  class="form-control"
                                                  value="<%= Location %>"
                                                  name="Location"
                                                  style="display:inline-block;
                                                  width:49%;"/>
                     
                <br/><br/>
                  <input class="form-control" type="text" value="<%= Address %>"
                  name="Address"/>
                  <br/>
                  <textarea class="form-control" name="Description" ><%=Description %></textarea>
                  <br/>
                  <div class="tags">
                  </div>
                  <br/>
                  <div>
                      <input type="text" class=" form-control tag-input"
                      style="display:inline-block; width:150px">
                      <a class="btn  btn-default tag-submit"><i class="fa fa-plus"></i></a>
                      <button class="btn btn-lg btn-success pull-right newsave"> <i
                              class="fa fa-save" ></i></button>
                  </div>
                  <div style="clear:both;"></div>
              </form>
             
    
    </script>


    <script type="text-template" id="edit-skill">
          <form   style="border-bottom:1px solid #f0f0f0;
                  padding-bottom:10px; ">
                  <input type="text" value="<%= SkillName %>" name="SkillName"
                                     class="form-control"
                                     style="display:inline-block;
                                     width:48%";>
                  &gt;
                <input type="text"
                                                  class="form-control"
                                                  value="<%= Location %>"
                                                  name="Location"
                                                  style="display:inline-block;
                                                  width:49%;"/>
                     
                <br/><br/>
                  <input class="form-control" type="text" value="<%= Address %>"
                  name="Address"/>
                  <br/>
                  <textarea class="form-control" name="Description" ><%=Description %></textarea>
                  <br/>
                  <div class="tags">
                      <span class="btn btn-xs btn-default"> <a href="#"> Tag
                              1</a>&nbsp;
                          <a href="#" class="close">x</a></span>
                  </div>
                  <br/>
                  <div>
                      <input type="text" class=" form-control "
                      style="display:inline-block; width:150px">
                      <button class="btn  btn-default"><i class="fa fa-plus"></i></button>
                      <button class="btn btn-lg btn-success pull-right save"> <i
                              class="fa fa-save" ></i></button>
                  </div>
                  <div style="clear:both;"></div>
              </form>
             
    
    </script>

    <script type="text/template" id="skills-single">
               <div   style="border-bottom:1px solid #f0f0f0;
                  padding-bottom:10px; ">
                  <h3> <%=SkillName %> <small>&nbsp;>&nbsp; <%= Location %></small>
                      <button class="btn btn-xs btn-default pull-right edit"><i class="fa fa-edit"></i></button>
                  </h3>
                  <small style="color:#777; "> <i class="fa
                  fa-map-marker"></i>&nbsp;&nbsp;QC 28 unical Staff Quaters</small>
                  <br/>
                  <p><%=Description%></p>
                  <small class="tags">

                    <% _.forEach(Tags, function(tag){ %>
                      <span class="btn btn-xs btn-default">
                      <a href="#">
                        <%= tag %></a>
                      </a>&nbsp;
                          <a href="#"class="close">x</a></span>
                        <%}); %>
                          <span class="btn btn-default"><i class="fa fa-plus"></i></span>
                  </small>
              </div>
  
    </script>
    

    <script type="text/template" id="bookmark-page">
        <span>   in bookmark page</span>
    </script>
    <!-- build:js scripts/main.min.js -->
    <script src="assets/scripts/main.min.js"></script>

    <script>
    

 
        Router = Backbone.Router.extend({
            routes: {
                ''      : 'profileEdit',
                'edit': 'profileEdit',
                'skills' : 'skillsView',
                'bookmarks': 'bookmarksView'
                },

            skillsView: function(){
                console.log("routing to skills view ");
         
                var skillsC = new skills.Collection();
                skillsC.fetch({
                    success: function(collection, respose){
                   var skillsView = new skills.View({collection:skillsC});
                    skillsView.render();
     
                    }});
                               
            },
            profileEdit: function(){
                console.log("profile edit");

               
                var profileData = new profile.Model({});
                var profileView = new profile.View({model:profileData});
                profileData.on('sync', profileView.render, profileView);
                

                profileData.fetch();
               profileView.render();
            },

            bookmarksView: function(){
       
                var bookmarksView = new bookmarks.View({});
     
 
                bookmarksView.render();
            }
        });
              
        var router = new Router();

        Backbone.history.start();

    </script>

   
    <!-- endbuild -->

       <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
